{% extends 'base.html' %} {% load staticfiles %} {% block title %} Pirogramming
- 가위바위보:) {% endblock %} {% block content %}
<div class="container main-container">
  <div class="row">
    전적 페이지
  </div>
  <div class="row">
    {%for item in games%}
    <div class="col-12">
      {{item}} - {%if item.defender_choice%}<span>승리자: {{item.winner}}</span>{%else%}<span>진행
        중...</span>{%endif%}{%if item.defender == request.user%}<a href="{% url "games:defend" %}">대응하기</a>{%endif%}
    </div>
    {%endfor%}
  </div>
</div>

{% endblock %}