{% extends 'base.html' %} {% load staticfiles %} {% block title %} Pirogramming
- 가위바위보:) {% endblock %} {% block content %}
<div class="container main-container">
  <div class="row">
    {% if request.user.is_authenticated == False %}
    <div class="col-md-12 box">
      <div>전 세계 피로그래머와 가위바위보를 즐겨보세요!</div>
    </div>
    <div class="col-md-12 box">
      <div>회원가입</div>
      <a href="{% url 'games:gameForm' %}"><button>게임시작</button></a>
    </div>
    {% else %}
    <button>게임시작</button>
    {% endif %}
  </div>
</div>

{% endblock %}
