{% extends 'base.html' %} {% load staticfiles %} {% block title %} Pirogramming
- 가위바위보:) {% endblock %} {% block content %}
<div>
  {% load socialaccount %} {%if request.user.is_authenticated%}
  <div class="row">
    <div>
      <h2>환영합니다, {{request.user.username}}</h2>
      <h3>나의 전적 보러가기</h3>
    </div>
  </div>
  {%else%}
  <div class="box">
    <div class="font1 h1">
      5초만에 로그인하고 가위바위보 하러 가기
    </div>
  </div>
  <div class="box">
    <div class="box-login">
      <div class="social-btn-wrap">
        <a class="atag" href="{% provider_login_url 'google' %}">
          <button class="btn-social google">
            구글
          </button>
        </a>
      </div>
      <div class="social-btn-wrap">
        <a
          class="atag"
          href="{% provider_login_url 'kakao' %}?next={{ request.path }}"
        >
          <button class="btn-social kakao">
            카카오
          </button>
        </a>
      </div>
    </div>
  </div>
  {%endif%} {% endblock %}
</div>
