{% extends 'base.html' %} {% load staticfiles %} {% block title %} Pirogramming
- 가위바위보:) {% endblock %} {% block content %}
<div class="main">
    <div class="container">
        <div class="row box">
            <div class="col-12 font1">
                {{pcgame}}
            </div>
            <div class="col-12 font1">
                인간의 선택 - {{pcgame.human_choice}}

            </div>
            <div class="col-12 font1">
                컴퓨터의 선택 - {{pcgame.computer_choice}}

            </div>
            <div class="col-12 font1">
                {%if pcgame.winner == nullr%}무승부{%elif pcgame.winner%}인간 승{%else%}컴퓨터 승{%endif%}

            </div>
                <a href="{%url "pcgames:status" %}">

                <button class="btn">전적보기</button>
            </a>
        </div>
    </div>
    </div>
{%endblock%}